/* Press Start 2P font utility */
body{
	font-family: 'Press Start 2P', system-ui;
       height: 100dvh;
       margin:0;
       display: flex;
       flex-direction: column;
       align-items: center;
       background-color: #111;
       color:rgba(255, 255, 255, 0.87);
       overflow: hidden;

       
}
.gameArea{
       position:absolute;
       width:600px;
       height:400px;
       background:rgba(7, 26, 49, 0.6);
       top:182px;
       border:#919bbec7 10px solid ;
       border-radius: 4px;
       backdrop-filter: blur(4px);
       transform: perspective(1000px) rotateX(33deg) scaleX(0.54) scaleY(0.85);


}
.bg{
       position: absolute;
       height:1000px;
       z-index:-1;

}


